Source: serialterminal
Section: plugins
Priority: optional
Maintainer: Matt Jenkins <matt@majenko.co.uk>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5

Package: serialterminal
Section: plugins
Architecture: all
XBSC-Group: Communications
Description: Serial Terminal
 Serial Terminal emulator with ANSI support.



